apiVersion: v1
kind: Service
metadata:
  name: ftp-pooler
  labels:
    app: ftp-pooler
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
    - name: metrics
      port: 9090
      targetPort: metrics
      protocol: TCP
  selector:
    app: ftp-pooler
---
apiVersion: v1
kind: Service
metadata:
  name: ftp-pooler-headless
  labels:
    app: ftp-pooler
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
  selector:
    app: ftp-pooler
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: ftp-pooler
  labels:
    app: ftp-pooler
spec:
  selector:
    matchLabels:
      app: ftp-pooler
  endpoints:
    - port: metrics
      interval: 15s
      path: /metrics
